@use "../abstracts/variables";

.context-menu {
  position: fixed;
  width: 150px;
  background-color: variables.$g5;
  border: 1px solid variables.$g3;
  border-radius: 5px;

  &-item {
    cursor: pointer;
    border-radius: 5px;

    &-hover {
      background-color: variables.$b1;
    }

    &-disable {
      background-color: variables.$g5;
      color: variables.$g1;
      cursor: initial;
    }
  }
}
