@use "../abstracts/variables";

.schedule-item {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  position: relative;

  input, textarea {
    display: block;
    border: none;
    background-color: transparent;
    width: 70%;
  }

  textarea {
    resize: none;
    overflow-y: hidden;
  }

  .schedule-status {
    display: block;
    width: 18px;
    height: 18px;
    border: solid 1px variables.$g3;
    border-radius: 50%;
    position: relative;
    margin: 8px 0 8px 10px;
  }

  .schedule-content {
    width: 100%;
    padding: 8px 20px 8px 0;
    margin-left: 16px;
    border-bottom: solid 1px variables.$g4;
  }

  .schedule-title, .schedule-notes {
    cursor: text;
    width: max-content;
  }

  &-complete {
    .schedule-status {
      border-color: variables.$today;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: variables.$today;
      }
    }

    .schedule-title{
      color: variables.$g1;
    }
  }


  &.selected {
    background-color: variables.$g4;
  }

  &.context-selected {
    border-color: variables.$b1;
    border-left: 3px solid;
    border-right: 3px solid;

    &-border-top {
      border-top: 3px solid;
    }

    &-border-bottom {
      border-bottom: 3px solid;
    }
  }

  &.selected.context-selected {
    border-color: variables.$w1;
    border-left: 3px solid;
    border-right: 3px solid;

    &-border-top {
      border-top: 3px solid;
    }

    &-border-bottom {
      border-bottom: 3px solid;
    }
  }
}
