@use "../abstracts/variables";

.schedule-item {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;

  &.editable {
    width: 100%;
    display: flex;

    input, textarea {
      display: block;
      border: none;
      background-color: transparent;
    }

    textarea {
      resize: none;
      overflow-y: hidden;
    }
  }

  &.selected {
    background-color: variables.$g4;
  }

  &.context-selected {
    border-left: 3px solid variables.$w1;
    border-right: 3px solid variables.$w1;

    &-border-top {
      border-top: 3px solid variables.$w1;
    }

    &-border-bottom {
      border-bottom: 3px solid variables.$w1;
    }
  }

  &.selected.context-selected {
    border-left: 3px solid variables.$b1;
    border-right: 3px solid variables.$b1;

    &-border-top {
      border-top: 3px solid variables.$b1;
    }

    &-border-bottom {
      border-bottom: 3px solid variables.$b1;
    }
  }



  .schedule-content {
    width: 100%;
    padding: 6px 20px 8px 0;
    margin-left: 16px;
    border-bottom: solid 1px variables.$g4;
  }

  .schedule-title, .schedule-notes {
    cursor: text;
    width: max-content;
  }
}

.schedule-status {
  display: block;
  width: 18px;
  height: 18px;
  border: solid 1px variables.$g3;
  border-radius: 50%;
  position: relative;
  margin: 6px 0 8px 0;


  &-complete {
    border-color: variables.$today;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: variables.$today;
    }
  }
}
