$bg-color: rgb(32, 27, 37);

$close-bg-color: rgb(254, 95, 87);
$close-text-color: rgb(154, 3, 0);
$minimize-bg-color: rgb(254, 188, 46);
$minimize-text-color: rgb(177, 111, 11);
$maximize-bg-color: rgb(45, 194, 64);
$maximize-text-color: rgb(3, 98, 1);

$today: rgb(11, 132, 255);
$error: rgb(255, 69, 58);

$w1: rgb(255, 255, 255);
$w2: rgb(221, 221, 221);
$g1: rgb(150, 148, 153);
$g2: rgb(124, 123, 128);
$g3: rgb(86, 84, 92);
$g4: rgb(46, 41, 52);
$g5: rgb(41, 34, 48);
$b1: rgb(23, 85, 184);


$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Microsoft Sans Serif", sans-serif;
