@use "../abstracts/variables";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ul, ol {
  list-style: none;
}

input, textarea {
  outline: none;
  caret-color: variables.$w1;
  color: variables.$w1;
}

html {
  height: 100%;
}

body {
  background-color: variables.$bg-color;
  height: 100%;
  user-select: none;
  font-family: variables.$font-family;
  color: variables.$w1;
  line-height: 1.5;
}

main {
  position: relative;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

[contenteditable] {
  outline: none;
}
