@use "../abstracts/variables";

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: variables.$bg-color;

  .add-button {
    font-size: 25px;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    display: block;

    &:hover {
      background-color: variables.$g4;
    }
  }
}
